<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407173373348-nq0dtj7aefd7drr8ts2g9vjn42u36lo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407173373348-nq0dtj7aefd7drr8ts2g9vjn42u36lo4</string>
	<key>API_KEY</key>
	<string>AIzaSyCjOthJsp3N0zQNbJ7DS464Z4iUSgIE9LA</string>
	<key>GCM_SENDER_ID</key>
	<string>407173373348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.StorageExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-87dd6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-87dd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407173373348:ios:c21bd8edfc0ae4a8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-example-87dd6.firebaseio.com</string>
</dict>
</plist>